---
title: Home
---
<!DOCTYPE html>
<html lang="en" class="wh100">

{% include head.html %}

<body class="wh100">
	<div id="wrap" class="wh100">
		  
	<main class="hero center-vh wh100">

		<div class="hero-line-title">
			<span class="hero-line-hi">Hi, </span>
			<span class="hero-line-name">I'm <span class="hero-highlight">Gautham</span></span>
		</div>
		<div class="hero-line-ticker">
			<div>
				<div>Loves open software</div>
				<div>Plays video games</div>
				<div>Reads fiction</div>
				<div>Builds 3D printers</div>
				<div>Builds keyboards</div>
				<div>Loves open-source</div>
				<div>Loves open software</div>

			</div>
		</div>
		<div class="hero-nav">
			<!-- Nav links -->
			{% include link.html %}
		</div>

	  </main>

	  <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
