---
title: Home
---
<!DOCTYPE html>
<html lang="en" class="wh100 off-white-bg">

{% include head.html %}

<body class="wh100">
	<div id="wrap" class="wh100">
		  
	<main class="hero center-vh wh100">

		<div class="hero-line-title">
			<span class="hero-line-hi">Hi, </span>
			<span class="hero-line-name">I'm <span class="hero-highlight">Gautham</span></span>
		</div>
		<div class="hero-line-ticker">
			<div>
				<div>Software builder</div>
				<div>Game connoisseur</div>
				<div>Sci-Fi Reader</div>
				<div>...master of some</div>
				<div>Jack of many trades...</div>
				<div>Perfectionist</div>
				<div>Software builder</div>
			</div>
		</div>
		<div class="hero-nav">
			<!-- Nav links -->
			{% include link.html %}
		</div>

	  </main>

	  <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
