<a href="https://www.linkedin.com/in/gautham-yerroju" target="_blank"><i class="la la-linkedin"></i> LinkedIn</a>
<a href="https://github.com/GauthamYerroju/" target="_blank"><i class="la la-github"></i> Github</a>
<!-- <a href="{{ "/downloads/resume/Resume_Gautham_Yerroju.pdf" | prepend: site.baseurl | replace: '//', '/' }}" target="_blank"><i class="la la-file-invoice"></i> Resume</a> -->
<a href="{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}"><i class="la la-comment-alt"></i> Blog</a>
<a href="{{ "/projects" | prepend: site.baseurl | replace: '//', '/' }}"><i class="la la-shapes"></i> Projects</a>
<a href="https://www.youtube.com/channel/UC2g6XFZh-UizJEhErK718ig" target="_blank"><i class="la la-youtube"></i> YouTube</a>
