<a href="{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}"><i class="la la-comments"></i> Blog</a>
<a href="{{ "/downloads/resume/Resume_Gautham_Yerroju_v9.0.1.pdf" | prepend: site.baseurl | replace: '//', '/' }}"><i class="la la-address-card"></i> Résumé</a>
<a href="{{ "/projects" | prepend: site.baseurl | replace: '//', '/' }}"><i class="la la-shapes"></i> Projects</a>
<a href="https://github.com/GauthamYerroju/" target="_blank"><i class="la la-github"></i> Github</a>
<a href="https://www.linkedin.com/in/gautham-yerroju" target="_blank"><i class="la la-linkedin"></i> LinkedIn</a>
