/*- Custom style -*/

// -- Put custom style under this point -- //

// Custom vars
$primary-color: #0c80df;
$border-radius: 2px;
$off-white: #FFF2EA;
// $link-visited-color: #ab47bc; // Not using due to transition flicker bug with hovering visited links

/*- Base settings -*/
body
{
	font-family : "Open Sans", sans-serif;
    padding: 0 16px;
}

// #post-page, .post {
// 	p, ul, ol {
// 		font-family: "Merriweather", serif;
// 	}
// }

footer {
	font-size: 12px;
	font-family: monospace;
	color: #7f7f7f;
}

time > span {
	font-size: 0.9em;
}

/*- Link -*/
#nav-links a {
	padding-left: 0;
	margin-left: 0.5em;
	@include link-stylized(inherit, $text-color);
}
.post > h2 > a {
	@include link-stylized($primary-color, $primary-color);
}
#page > .content a, #post-page > .content a, footer a, .post-title-by-tag > a {
	@include link-content($primary-color);
}
footer a {
	font-weight: normal;
}

/* Tags */
.tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tags > li {
	display: inline-block;
	cursor: pointer;
	margin: 4px;
}
.tags > li > a {
	padding: 2px 8px;
	border-radius: $border-radius;
	background-color: darken($background-color, 5%);
	border: 1px solid darken($background-color, 10%);
	transition: background-color 0.25s ease;
	&:hover {
		background-color: lighten($primary-color, 50%);
		color: $primary-color;
	}
	
	color: $text-light-color;
	font-family : "Open Sans", sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	transition: color 0.25s ease;
	&::before {
		content: "#";
	}
}
.post-title-by-tag, .posts-by-tag > li > time {
	display: inline-block;
}
.posts-by-tag > li > time {
	font-size: 0.9em;
	margin-left: 4px;
	color: lighten($text-color, 25%);
}
ul.posts-by-tag {
	margin-top: 0em;
	margin-bottom: 2em;
	padding-left: 2em;
}

/*- Typography for medium and small screen, based on 16px font-size -*/

p {
	line-height: 1.6em;
}

/*- Typography for big screen, based on 18px font-size -*/

@media (min-width: 940px) { //Breakpoint set to 940px

p {
	line-height: 1.6em; /* 24px/18px */
}

}

.content ul, .content ol {
  line-height: 1.6em;
  @media (min-width: 940px) {
    line-height: 1.6em; /* 24px/18px */
  }
}

// Full screen menu
#menu {
  &:after, &:before {
    transition: all 0.25s ease;
  }
}

// Landing page stuff
$hero-font-size: 2.4em;

$title-duration: 0.5s;
$title-delay: 0.5s;

$ticker-height: 0.5;
$ticker-count: 6;

$ticker-delay: $title-duration + $title-delay + $title-duration;
$ticker-duration: 1.5s;

$entry-duration: 0.6s;

@keyframes ticker {
	$ticker-step: ($ticker-count) * 2;
	@for $i from 0 through ($ticker-count) * 2 {
		#{100% / $ticker-step * $i} {
			$j: ($i - 1) / 2;
			@if $i % 2 == 0 {
				$j: $i / 2;
			}
			transform: translate3d(0, -(($ticker-count - $j) * 1.5em), 0);
		}
	}
}

@keyframes easeup {
	from {
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes easedown {
	from {
		transform: translate3d(0, -(1.5em * $ticker-height), 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.center-vh {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.off-white-bg {
	background-color: $off-white;
}

.hero {
	color: lighten($text-light-color, 25%);
	font-size: $hero-font-size;
	@media (min-width: 640px) {
		@media (min-height: 360px) {
			font-size: $hero-font-size * 1.4;
		}
		@media (min-height: 480px) {
			font-size: $hero-font-size * 1.8;
		}
		@media (min-height: 640px) {
			padding-bottom: 1em;
		}
		@media (min-height: 960px) {
			padding-bottom: 2em;
		}
	}
}

.hero-line-title {
	user-select: none;
}

.hero-line-hi {
	animation-name: easeup; /* TODO: ease up translate not working here */
	animation-duration: $title-duration;
	animation-fill-mode: both;
}

.hero-line-name {
	animation-delay: $title-duration + $title-delay;
	animation-name: easeup; /* TODO: ease up translate not working here */
	animation-duration: $title-duration;
	animation-fill-mode: both;
}

.hero-highlight {
	color: $primary-color;
	font-weight: bolder;
}

.hero-line-ticker {
	user-select: none;
	height: 1.5em * $ticker-height;
	overflow-y: hidden;
	position: relative;
	animation-name: easedown;
	animation-delay: $ticker-delay;
	animation-duration: $entry-duration;
	animation-fill-mode: both;
}

.hero-line-ticker > div {
	color: lighten($text-light-color, 50%);
	font-size: #{$ticker-height}em;
	text-align: center;
	animation-name: ticker;
	animation-duration: ($ticker-duration * $ticker-count);
	animation-iteration-count: infinite;
	animation-delay: $ticker-delay + $ticker-duration;
	animation-fill-mode: both;
}

// TODO: If I want staggered animation, look into: https://css-tricks.com/different-approaches-for-creating-a-staggered-animation
.hero-nav {
	margin-top: 0.5em;
	animation-name: easeup;
	animation-duration: $entry-duration;
	animation-delay: $title-duration + $title-delay;
	animation-fill-mode: both;
}

.hero-nav > a {
	display: block;
	font-size: 1.5rem;
	@media (min-width: 480px) {
		display: inline-block;
		font-size: 1.25rem;
	}
	font-weight: initial;
	text-align: center;
	margin-top: 1em;
	padding-right: 4px;
	@include link-stylized(lighten($text-light-color, 25%), $primary-color);
	&:hover,
	&:focus {
		color: darken($text-color, 5%);
	}
	transition: all 0.125s ease;
}
