/*- Custom style -*/

// -- Put custom style under this point -- //

// Custom vars
$primary-color: #42a5f5;
// $link-visited-color: #ab47bc; // Not using due to transition flicker bug with hovering visited links

/*- Base settings -*/
body
{
	font-family : "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    padding: 0 16px;
}

#post-page, .post {
	p, ul, ol {
		font-family: "Roboto Slab", serif;
	}
}

#post-page {
	p, ul, ol {		
//font-size: 18px;
	}
}

footer {
	font-size: 12px;
	font-family: monospace;
	color: #7f7f7f;
}

/*- Link -*/
#post-page a, .post a, footer a {
	color: $primary-color;
    transition: color 0.25s ease, border-bottom-color 0.25s ease;
    &:hover,
	&:focus {
		color: darken($primary-color, 15%);
	}
}

#post-page a, footer a {
    border-bottom: solid 1px #DDD;
    &:hover,
	&:focus {
        border-bottom-color: lighten($primary-color, 15%);
	}
}

footer a {
	color: #489ade;
	font-weight: normal;
}

/*- Typography for medium and small screen, based on 16px font-size -*/

p, ul, ol {
	line-height: 1.6em;
}

/*- Typography for big screen, based on 18px font-size -*/

@media (min-width: 940px) { //Breakpoint set to 940px

p, ul, ol {
	line-height: 1.6em; /* 24px/18px */
}

}

// Full screen menu
#menu {
  &:after, &:before {
    transition: all 0.25s ease;
  }
}
