// -- Mixins -- //

// Nav menu

@mixin icon-position($position) {
	display: block;
  position: fixed;
  top: 35px;
  #{$position}: 25px;
  z-index: 10;
  height: 24px;
}

@mixin open($x) {
	-webkit-transform: translateX($x);
     -moz-transform: translateX($x);
      -ms-transform: translateX($x);
          transform: translateX($x);
  width: 100%;
  @media (min-width: 940px) {
    width: 30%;
  }
}

@mixin nav-position($position) {
	width: 14rem;
  position: fixed;
  background-color: $background-color;
  top: 0;
  bottom: 0;
  #{$position}: -14rem;
  color: $background-color;
  opacity: 0.95;
  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
  z-index: 1;
  padding: 72px 0;
  text-align: center;
}

// Links
@mixin link-content($color) {
	color: $color;
	text-decoration: none;
	border-bottom: dashed 1px #898989;
	transition: color 0.25s ease, border-bottom-color 0.25s ease;
	&:hover {
		color: lighten($color, 10%);
		border-bottom-color: lighten($color, 10%);
	}
	&:focus {
		color: $color;
		border-bottom: none;
	}
}

// http://blog.teamtreehouse.com/modular-pseudo-elements-sass
%link-stylized {
	position: relative;

	&::before {
		content: "";
		display: block;
		width: 100%;
		bottom: 0;
		
		// Used this to put underline below text
		// https://stackoverflow.com/questions/3032856/is-it-possible-to-set-the-stacking-order-of-pseudo-elements-below-their-parent-e#10822168
		position: absolute;
		z-index: -1;

		transform: scale3d(0, 1, 1);
		transform-origin: 0;
		transition: transform 0.25s ease;
	}
	&:hover::before {
		transform: scale3d(1, 1, 1);
	}
}
@mixin link-stylized($color: inherit, $underline-color: $text-color) {
	@extend %link-stylized;
	color: $color;
	&::before {
		height: 0.1em;
		background-color: $underline-color;
	}
}

// General
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
