---
layout: default
---
<article id="post-page">
	<h1>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date: "%-d %B %Y" }}
		{% if page.last_modified_at %}
		<span> (last update on {{ page.last_modified_at | date: "%-d %B %Y" }})</span>
		{% endif %}
	</time>
	{% if page.tags.size > 0 %}
	<ul class="tags">{% for tag in page.tags %}<li><a href={{ site.url }}/tags#{{ tag | slugify }}>{{ tag }}</a></li>{% endfor %}</ul>
	{% endif %}
	<div class="content">
		{{ content }}
	</div>
</article>

